@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  src: url('../../public/fonts/Roslindale-DisplayCondensedMedium-Light.woff2') format("woff2"),
       url('../../public/fonts/Roslindale-DisplayCondensedMedium-Light.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 500;
} */

